version: '3.7'
services:
  db:
    image: postgres:11.1-alpine
    volumes:
      - database:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD
      - POSTGRES_USER
      - POSTGRES_DB
  api:
    image: msa-api-prod:0.2.3
    build:
      context: .
      target: api-prod
    links:
      - db
    environment:
      - DJANGO_SECRET
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
      - GOOGLE_OAUTH_CLIENT_ID
      - GOOGLE_OAUTH_CLIENT_SECRET
      - GOOGLE_OAUTH_REDIRECT_URI
    restart: always
  web:
    image: msa-web-prod:0.2.3
    build:
      context: .
      target: web-prod
      args:
        - GOOGLE_OAUTH_CLIENT_ID
    links:
      - api
    ports:
      - 80:80
      - 443:443
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - letsencrypt:/etc/letsencrypt
      - temp:/tmp/letsencrypt
    environment:
      - LE_RENEW_HOOK=docker kill -s HUP @CONTAINER_NAME@
    restart: always
  letsencrypt:
    restart: always
    image: kvaps/letsencrypt-webroot
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - letsencrypt:/etc/letsencrypt
      - temp:/tmp/letsencrypt
    links:
      - web
    environment:
      - DOMAINS=msalimentaria.com.ar
      - EMAIL=asermax@gmail.com
      - WEBROOT_PATH=/tmp/letsencrypt

volumes:
  database:
  letsencrypt:
  temp:
