{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "entry",
      "modules": false
    }],
    "@babel/react",
    "flow"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["ramda", {
      "useEs": true
    }],
    ["emotion", {
        "sourceMap": true,
        "autoLabel": true
    }],
  ]
}
